[server]

port = "4200"
interface = "localhost"
debug = false
verbosity = log 

[database]

mongohost = "localhost"

[frontend]

title = "kmud-2020"

[crypt]

account_manager_secret = "secret"

[cluster]

account_manager_hostname = "localhost:4242"
frontend_hostname = "localhost:4200"

[game]

server_name = "kmud-202"